# Chapter 9. Dictionary

In [ ]:


d1 = {'A':1, 'B':2, 'C':3}

value = 3

key = [k for k in d1 if d1[k] == value ]

print (key)

In [ ]:
dict1 = {'name': 'KIM', 'ZIP':94598, 'address':'1234 Grand ave'}
dict2 = {'score':[100,90], 'Grade':'Senior'}
dict3 = {**dict1, **dict2}

print (dict3)

In [ ]:
dict3 = dict1.copy()
dict3.update(dict2)
print (dict3)

In [8]:
d1 = {'A': 1, 'B':2, 'C':3}

# How to access the particular element?

d1['A']

for k in d1:
    print (k, '->', d1[k])

A -> 1
B -> 2
C -> 3

In [10]:
d1['D'] = 3
d1

{'A': 3, 'B': 2, 'C': 3, 'D': 3}

In [13]:
d2 = {}
d2['A'] = 1

d2

{'A': 1}

In [19]:
student_info = ['Name', 'ID', 'Address']
values = ['James', '1001', 'Livermore, CA']

student = {}

for i in range(len(student_info)):
	student[student_info[i]] = values[i] 

print (student)

mykey = 'scores'
try:
	print (student[mykey])
except KeyError:
	print ('There is no key')

if mykey in student.keys():
	print (student[mykey])

{'Name': 'James', 'ID': '1001', 'Address': 'Livermore, CA'}
There is no key

In [15]:
student.pop('ID')
student

{'Name': 'James', 'Address': 'Livermore, CA'}

In [16]:
num = 10

print (num)

del num

10

In [17]:
print (student)
del student['Name']

print (student)

{'Name': 'James', 'Address': 'Livermore, CA'}
{'Address': 'Livermore, CA'}

In [20]:

scores_record = {       'Kim':[100,80,70,60],
                       'Bill':[100,90,80,60],
                       'Mary':[90,80,70,100]}


print (scores_record)

{'Kim': [100, 80, 70, 60], 'Bill': [100, 90, 80, 60], 'Mary': [90, 80, 70, 100]}

In [21]:
# [1]

for k in scores_record:
    print (scores_record[k])

[100, 80, 70, 60]
[100, 90, 80, 60]
[90, 80, 70, 100]

In [22]:
# [2]
for k in scores_record.keys():
    print (scores_record[k])

[100, 80, 70, 60]
[100, 90, 80, 60]
[90, 80, 70, 100]

In [23]:
# [3] 
for v in scores_record.values():
    print (v)

[100, 80, 70, 60]
[100, 90, 80, 60]
[90, 80, 70, 100]

In [26]:
#[4]

for k, v in scores_record.items():
    print (k, v)

Kim [100, 80, 70, 60]
Bill [100, 90, 80, 60]
Mary [90, 80, 70, 100]

In [27]:
print (scores_record['Kim'])
print (scores_record.get('Kim'))

[100, 80, 70, 60]
[100, 80, 70, 60]

In [30]:
# print (scores_record['Lee'])
print (scores_record.get('Lee','NoValue'))

NoValue

In [31]:
print (scores_record)
scores_record.popitem()

{'Kim': [100, 80, 70, 60], 'Bill': [100, 90, 80, 60], 'Mary': [90, 80, 70, 100]}

('Mary', [90, 80, 70, 100])

In [32]:
# fromkeys()
student_info = ['Name', 'ID', 'Address']
values = ['James', '1001', 'Livermore, CA']

student = {}

for i in range(len(student_info)):
	student[student_info[i]] = values[i] 

print (student)

{'Name': 'James', 'ID': '1001', 'Address': 'Livermore, CA'}

In [33]:

student2 = dict.fromkeys(student_info, values)

print (student2)

{'Name': ['James', '1001', 'Livermore, CA'], 'ID': ['James', '1001', 'Livermore, CA'], 'Address': ['James', '1001', 'Livermore, CA']}

# Lab 1

In [37]:
# Kim
# 100 80 70 60
# Bill
# 100 90 80 60
# Mary 
# 90 80 70 100

def makeStudents(student, Names, Scores):
	for i in range(len(Names)):
		student[Names[i]] = Scores[i]
def printStudents(student):
	for k,v in student.items():
		print(f'{k} -> {v}', end = '\t')
	print ()

def getMaxScore(student):
	highestVal = 0
	for key, val in student.items():
		if highestVal < sum(val):
			highestVal = sum(val)
			name = key
	print (f'Highest score is {highestVal} from {name}')	

def main():
	Names = ['Kim', 'Bill', 'Mary']
	Scores = [[100, 80, 70, 60], [100, 90,80, 60], [90, 80, 70, 100]]

	student = {}
	makeStudents(student, Names, Scores)

	printStudents(student)
	getMaxScore(student)

main()

Kim -> [100, 80, 70, 60]	Bill -> [100, 90, 80, 60]	Mary -> [90, 80, 70, 100]
Highest score is 340 from Mary